# Keka API
KEKA_BASE_URL=https://sarasanalytics.keka.com
KEKA_CLIENT_ID=
KEKA_CLIENT_SECRET=
KEKA_API_KEY=

# Microsoft Entra (Azure AD) app registration
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Set to "true" in CI to actually write changes (otherwise dry-run)
APPLY=false
